
/* Monsteret */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Oswald */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Nunito */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Anton */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* Rubik */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Playfair */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


@custom-variant dark (&:where(.dark, .dark *));

:root{
   --primary: #A053ED;
   --secondary: #f15bb5;
}


@import "tailwindcss";

@theme{
    /* fonts */
    --font-Roboto : "Roboto", sans-serif;
    --font-Mons: "Montserrat", system-ui, sans-serif;
    --font-oswald: "Oswald", sans-serif;
    --font-Sans: "Open Sans", sans-serif;
    --font-Nunito: "Nunito", sans-serif;
    --font-Anton: "Anton", sans-serif;
    --font-Rubik: "Rubik", sans-serif;
    --font-PlayFair: "Playfair Display", serif;

    /* colors */
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-darkbg1 : #1a1a1a;


    /* Text Colors */
    --color-darktext1 : #d9d9d9;
    --color-darktext2 : #bcbcbc;

    /* Responsive */
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1200px;
    --breakpoint-2xl: 1536px;
    --breakpoint-4xl: 1920px;
}

p,span,a,li,div{
  font-family: var(--font-Rubik);
}

h1,h2,h3,h4,h5,h6{
  font-family: var(--font-PlayFair);
}

.g-text {
  background: #A053ED;
  background: linear-gradient(90deg,rgba(160, 83, 237, 0.61) 0%, rgba(160, 83, 237, 1) 50%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; /* Higher specificity for WebKit */
  color: transparent; 
  font-weight: 900;
  @apply font-PlayFair;
}

.tw-container{
  @apply mx-auto xl:px-3 px-7 max-w-full xl:max-w-[95%]     
} 
.container{
  @apply mx-auto xl:px-3 px-7 max-w-full xl:max-w-[93%]  2xl:max-w-[1450px]  
}

.dark body{
  @apply dark:bg-black/100
}

/* Landing Page CSS Start */
.section-heading-sm{
  @apply text-[clamp(24px,2vw,30px)]  font-semibold;
}
.section-heading{
  @apply text-[clamp(42px,2.6vw,60px)] font-semibold text-black dark:text-white mb-1 ;
}
.section-heading.o-banner-heading{
  @apply lg:text-6xl! md:pb-3 pb-0 text-center
}
.section-desc{
  @apply lg:text-base text-sm text-black dark:text-darktext1
}
.other-web-banner{
  @apply mt-40 mb-30
}

section.web{
  @apply py-10 mt-15;
}
.see-all{
  @apply text-primary font-normal underline
}

.website .btn-border{
  @apply border border-primary text-primary font-medium px-6 py-2.5 rounded-md text-base transition-all hover:bg-primary hover:text-white cursor-pointer 
}
.apply-now-btn{
  @apply  bg-primary/30 dark:group-hover:bg-darkbg1 text-primary px-4 py-1.5 rounded-md hover:bg-primary transition-all hover:text-white cursor-pointer
}
.jar-opacity{
  animation-name: jarOpacity;
  animation-duration: 0.8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes jarOpacity{
  from {
    opacity: 0;
  }
  to {
    opacity: 0.3;
  }
}

.side-filter .parent{
  @apply mb-7
}
.side-filter .p-head{
  @apply 4xl:text-lg text-base  dark:text-darktext1 mb-4
}

.side-filter .grid{
  @apply grid lg:grid-cols-2 grid-cols-1
}
.side-filter li{
  @apply mb-3 cursor-pointer
} 
.side-filter li:last-child{
  @apply mb-0!
}
.side-filter .item input{
  @apply opacity-0 hidden
}
.side-filter .item label div{
  @apply size-4 border dark:border-slate-600 border-slate-400 rounded-[3px] relative flex items-center justify-center
}
.side-filter .item.radio-to label div{
  @apply rounded-full
}
.side-filter .item.radio-to label input[type="radio"]:checked  + div{
  @apply before:absolute before:top-1/2 before:left-1/2 before:-translate-1/2 before:bg-primary before:size-2 before:content-[''] before:rounded-full
}

.side-filter .item.checkbox-to label input[type="checkbox"] + div .check{
  @apply opacity-0 scale-0 transition-all 
}
.side-filter .item.checkbox-to label input[type="checkbox"]:checked+ div{
  @apply bg-primary text-white
}
.side-filter .item.checkbox-to label input[type="checkbox"]:checked+ div .check{
  @apply opacity-100 scale-100 
}
.side-filter .item label{
  @apply flex items-center gap-2 4xl:text-base text-sm cursor-pointer text-slate-700 dark:text-darktext1;
}

/* .webkit-scroll::-webkit-scrollbar-track {
  @apply hidden;
} */

.webkit-scroll::-webkit-scrollbar {
  width: 2px;
}

.dark .webkit-scroll::-webkit-scrollbar-track {
  @apply bg-neutral-500;
}

.dark .webkit-scroll::-webkit-scrollbar-thumb {
  @apply bg-primary  rounded-full;
}
.webkit-scroll::-webkit-scrollbar-thumb {
  @apply bg-neutral-200 rounded-full;
}
/* Landing Page CSS End */

/* Contact Page CSS Start */
form .group{
  @apply  mb-6 flex flex-col
}
form .group label{
  @apply  mb-2 flex flex-col font-medium text-base text-black dark:text-darktext1!
}
form .group input,
form .group textarea,
form .group select{
  @apply border bg-slate-50 dark:bg-transparent border-slate-200 dark:border-slate-700 focus:border-primary text-gray-600 dark:text-darktext1 font-normal rounded-lg py-2 px-4 focus:outline-0 focus:bg-transparent
}

form .group select{
  -webkit-appearance: none;  /* Safari and Chrome */
  -moz-appearance: none;     /* Firefox */
  appearance: none;     
}
.dark form .group select{
  -webkit-appearance: none;  /* Safari and Chrome */
  -moz-appearance: none;     /* Firefox */
  appearance: none;     
  background-color: black;

  /* background-image: url("data:image/svg+xml,%3Csvg fill='%23000' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5H7z'/%3E%3C/svg%3E"); */
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
}


/* Contact Page CSS End */