
/* Monsteret */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Oswald */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Nunito */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Anton */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* Rubik */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


:root{
   --primary: #A053ED;
   --secondary: #2d6a4f;
}


@import "tailwindcss";

@theme{
    /* fonts */
    --font-Roboto : "Roboto", sans-serif;
    --font-Mons: "Montserrat", system-ui, sans-serif;
    --font-oswald: "Oswald", sans-serif;
    --font-Sans: "Open Sans", sans-serif;
    --font-Nunito: "Nunito", sans-serif;
    --font-Anton: "Anton", sans-serif;
    --font-Rubik: "Rubik", sans-serif;


    /* colors */
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);

    /* Responsive */
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1200px;
    --breakpoint-2xl: 1536px;
    --breakpoint-4xl: 1920px;
}

h1,h2,h3,h4,h5,h6,p,span,a,li,div{
  font-family: var(--font-Rubik);
}

.g-text {
  /* 1. Define the gradient */
  background: #A053ED;
background: linear-gradient(90deg,rgba(160, 83, 237, 0.61) 0%, rgba(160, 83, 237, 1) 50%);
  /* 2. Clip the background to the text (WebKit prefix for compatibility) */
  -webkit-background-clip: text;
  background-clip: text;

  /* 3. Make the text transparent to show the background */
  -webkit-text-fill-color: transparent; /* Higher specificity for WebKit */
  color: transparent; 
}

.tw-container{
  @apply mx-auto xl:px-3 px-7 max-w-full xl:max-w-[95%]     
} 
.container{
  @apply mx-auto xl:px-3 px-7 max-w-full xl:max-w-[93%]  2xl:max-w-[1450px]  
}